<div class="about-container">
  <mat-card class="about-card">
    <mat-card-header>
      <div mat-card-avatar>
        <img mat-card-avatar src="../assets/jose.jpg" alt="Jose Danado">
      </div>
      <mat-card-title>Jose Danado</mat-card-title>
      <mat-card-subtitle>Software Engineer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="container">
      <div class="about-content">
        <div class="row">
          <div class="number">1.</div>
          <div class="text">
            Experienced software engineer​ offering 18 years of experience working
            with interactive solutions, context awareness and IoT with 4 patents
            accepted.
          </div>
        </div>
        <div class="row">
          <div class="number">2.</div>
          <div class="text">
            Creative, resourceful technology researcher ​ able to challenge the
            state-of-the-art while remaining focused in user experience, usability,
            modularity, code readability, security and scalability.
          </div>
        </div>
        <div class="row">
          <div class="number">3.</div>
          <div class="text">
            Successful technical team leader ​ with solid track record of motivating
            team members to deliver excellent results ensuring on time project
            rollouts and tested results.
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
